<div id="NFC_bar" class="accordion-body collapse in ">
    <span>Status: </span>
    <strong id="status">Offline</strong>
    <br>
    
    <span>UID: </span>
    <strong id="uid">-</strong>
    <hr>
    
    <span>Material: </span>
    <strong id="material">-</strong>
    <br>
    
    <span>Color: </span>
    <strong id="color">-</strong>
    <br>
    
    <span>Weight: </span>
    <strong id="weight">-</strong>
    <span>gr</span>
    <br>
    
    <span>Balance: </span>
    <strong id="balance">-</strong>
    <span>gr</span>
    <br>
    <hr>
    
    <span>Diametr: </span>
    <strong id="diametr">-</strong>
    <span>mm</span>
    <sup>2</sup>
    <br>
    
    <span>Price: </span>
    <strong id="price">-</strong>
    <span>&#x20bd</span>
    <br>
    
    <span>Vender: </span>
    <strong id="vender">-</strong>
    <br>
    
    <span>Density: </span>
    <strong id="density">-</strong>
    <span>gr/cm</span>
    <span><sup>3</sup>*10<sup>-2</sup></span>
    <br>
    
    <span>extMinTemp: </span>
    <strong id="extMinTemp">-</strong>
    <sup>o</sup>
    <span>C</span>
    <br>
    
    <span>extMaxTemp: </span>
    <strong id="extMaxTemp">-</strong>
    <sup>o</sup>
    <span>C</span>
    <br>
    
    <span>bedMinTemp: </span>
    <strong id="bedMinTemp">-</strong>
    <sup>o</sup>
    <span>C</span>
    <br>
    
    <span>bedMaxTemp: </span>
    <strong id="bedMaxTemp">-</strong>
    <sup>o</sup>
    <span>C</span>
    <br>
</div>


