<div id="NFC_bar" class="accordion-body collapse in ">
    <span>Status: </span>
    <strong data-bind="text: status">Offline</strong>
    <br>
    <span>UID: </span>
    <strong data-bind="text: uid"></strong>
    <hr>
    <span>Material: </span>
    <strong data-bind="text: material"></strong>
    <br>
    <span>Color: </span>
    <strong data-bind="text: color"></strong>
    <br>
    <span>Weight: </span>
    <strong data-bind="text: weight"></strong>
    <span>gr</span>
    <br>
    <span>Balance: </span>
    <strong data-bind="text: balance"></strong>
    <span>gr</span>
    <br>
    <hr>
    <span>Diametr: </span>
    <strong data-bind="text: diametr"></strong>
    <span>mm</span>
    <br>
    <span>Price: </span>
    <strong data-bind="text: price"></strong>
    <span data-bind="text: currency"></span>
    <br>
    <span>Vender: </span>
    <strong data-bind="text: vender"></strong>
    <br>
    <span>Density: </span>
    <strong data-bind="text: density"></strong>
    <span>gr/cm</span>
    <span><sup>3</sup>*10<sup>-2</sup></span>
    <br>
    <span>extMinTemp: </span>
    <strong data-bind="text: extMinTemp"></strong>
    <sup>o</sup>
    <span>C</span>
    <br>
    <span>extMaxTemp: </span>
    <strong data-bind="text: extMaxTemp"></strong>
    <sup>o</sup>
    <span>C</span>
    <br>
    <span>bedMinTemp: </span>
    <strong data-bind="text: bedMinTemp"></strong>
    <sup>o</sup>
    <span>C</span>
    <br>
    <span>bedMaxTemp: </span>
    <strong data-bind="text: bedMaxTemp"></strong>
    <sup>o</sup>
    <span>C</span>
    <br>
</div>


