<div id="NFC_bar">
	<div class="input-append">
		<button type="submit" class="btn" data-bind="click: readNFC" href="#">Read NFC</button>
	</div>
	
	<div>
		<span>UID: </span>
		<b id="uid">-</b>
	</div>
	<div>
		<span>Material: </span>
		<b id="material">-</b>
	</div>
	<div>
		<span>Color: </span>
		<b id="color">-</b>
	</div>
	
	<div>
		<span>Weight: </span>
		<b id="weight">-</b>
		<span>gr</span>
	</div>
	<div>
		<span>Balance: </span>
		<b id="balance">-</b>
		<span>gr</span>
	</div>
	<div>
		<span>Diametr: </span>
		<b id="diametr">-</b>
		<span>mm<sup>2</sup></span>
	</div>
	<div>
		<span>Price: </span>
		<b id="price">-</b>
		<span>&#x20bd</span>
	</div>
	<div>
		<span>Vender: </span>
		<b id="vender">-</b>
	</div>
	<div>
		<span>Density: </span>
		<b id="density">-</b>
		<span>gr/cm<sup>3</sup>*10<sup>-2</sup></span>
	</div>
	<div>
		<span>extMinTemp: </span>
		<b id="extMinTemp">-</b>
		<span><sup>o</sup>С</span>
	</div>
	<div>
		<span>extMaxTemp: </span>
		<b id="extMaxTemp">-</b>
		<span><sup>o</sup>С</span>
	</div>
	<div>
		<span>bedMinTemp: </span>
		<b id="bedMinTemp">-</b>
		<span><sup>o</sup>С</span>
	</div>
	<div>
		<span>bedMaxTemp: </span>
		<b id="bedMaxTemp">-</b>
		<span><sup>o</sup>С</span>
	</div>
</div>

