<form id="NFCsettings" class="form-horizontal">
    <fieldset>
        <legend>
            <span style="white-space: pre-wrap;">Common settings</span>
        </legend>
        
        <div class="control-group" title="Currency">
            <label class="control-label" for="settings-currency">Currency</label>
            <div class="controls">
                <select id="settings-currency"data-bind="selectedIndex: currencyN"></select>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="settings-ScanPeriod">Set period of nfc scan</label>
            <div class="controls">
                <input type="number" class="input-append" data-bind="value: settings.plugins.FilamentNFC.scanPeriod">
                <span class="add-on">sec</span>
            </div>
        </div>
    </fieldset>
    
    <legend>
        <span style="white-space: pre-wrap;">Spool read/write</span>
    </legend>
    <div class="btn-group" role="group" aria-label="RW control">
        <!--
        <button id="nfcReadSettings" data-bind="click: readSpoolSettings" class="btn icon-download-alt" aria-hidden="true">&nbsp;{{ _('Read') }}</button>
        <button id="nfcWriteSettings" data-bind="click: writeSpoolSettings" class="btn icon-upload-alt" aria-hidden="true">&nbsp;{{ _('Write') }}</button>
        <button id="nfcEraseSettings" data-bind="click: eraseSpoolSettings" class="btn icon-eraser" aria-hidden="true">&nbsp;{{ _('Erase') }}</button> 
        -->
    </div>
    <br>
    <br>
    <div class="control-group" title="UID">
        <label class="control-label">UID:</label>
        <div class="controls">
            <input type="number" class="input-append" disabled>
            <input type="number" class="input-append" disabled>
        </div>
    </div>
    <div class="control-group" title="Material">
        <label class="control-label">Material:</label>
        <div class="controls">
            <select id="rw-material" name="rw-material"></select>
        </div>
    </div>
    <div class="control-group" title="Color">
        <label class="control-label">Color:</label>
        <div class="controls">
            <select id="rw-color"name="rw-color"></select>
        </div>
    </div>
    <div class="control-group" title="Weight">
        <label class="control-label">Weight:</label>
        <div class="controls">
            <input type="number"class="input-append">
            <span class="add-on">gr</span>
        </div>
    </div>
    <div class="control-group" title="Balance">
        <label class="control-label">Balance:</label>
        <div class="controls">
            <input type="number"class="input-append">
            <span class="add-on">gr</span>
        </div>
    </div>
    <div class="control-group" title="Diametr">
        <label class="control-label">Diametr:</label>
        <div class="controls">
            <input type="number"step="0.1"class="input-append">
            <span class="add-on">mm<sup>2</sup></span>
        </div>
    </div>
    <div class="control-group" title="Price">
        <label class="control-label">Price:</label>
        <div class="controls">
            <input type="number"step="100"class="input-append">
            <span class="add-on">\u20BD</span>
        </div>
    </div>
    <div class="control-group" title="Vender">
        <label class="control-label">Vender:</label>
        <div class="controls">
            <input type="text"class="input-append">
        </div>
    </div>
    <div class="control-group" title="Density">
        <label class="control-label">Density:</label>
        <div class="controls">
            <input type="number"class="input-append">
            <span class="add-on">gr/cm<sup>3</sup>*10<sup>-2</sup></span>
        </div>
    </div>
    <div class="control-group" title="Extruder minimal temperatureก">
        <label class="control-label">Extruder minimal temperature:</label>
        <div class="controls">
            <input type="number"step="10"class="input-append">
            <span class="add-on"><sup>o</sup>C</span>
        </div>
    </div>
    <div class="control-group" title="Extruder maximum temperature">
        <label class="control-label">Extruder maximum temperature <sup>o</sup>C:</label>
        <div class="controls">
            <input type="number"step="10"class="input-append">
            <span class="add-on"><sup>o</sup>C</span>
        </div>
    </div>
    <div class="control-group" title="Bed minimal temperature">
        <label class="control-label">Bed minimal temperature <sup>o</sup>C:</label>
        <div class="controls">
            <input type="number"step="10"class="input-append">
            <span class="add-on"><sup>o</sup>C</span>
        </div>
    </div>
    <div class="control-group" title="Bed maximum temperature">
        <label class="control-label">Bed maximum temperature <sup>o</sup>C:</label>
        <div class="controls">
            <input type="number"step="10"class="input-append">
            <span class="add-on"><sup>o</sup>C</span>
        </div>
    </div>
</form>

